.header {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.left {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.navButton {
  width: 42px;
  height: 42px;

  border: none;
  outline: none;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--hover-background);
  color: var(--text-primary);

  cursor: pointer;

  transition: var(--transition);
}

.navButton:hover {
  transform: scale(1.05);
  background: rgba(255,255,255,.12);
}

.navButton:active {
  transform: scale(.96);
}

.searchBar {
    flex: 1;
    max-width: 620px;

    display: flex;
    align-items: center;
    gap: 0.75rem;

    padding: 0.8rem 1rem;

    border-radius: 999px;

    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.08);

    transition:
        background-color .25s ease,
        border-color .25s ease,
        box-shadow .25s ease;
}

.searchBar:hover {
    background: rgba(255,255,255,0.12);
    border-color: rgba(255,255,255,0.15);
}

.searchBar:focus-within {
  background: rgba(255,255,255,.12);
  box-shadow: 0 0 12px rgba(29,185,84,.25);
}

.searchBar svg {
  font-size: 1.1rem;
  color: #cfcfcf;
}

.searchBar input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: .95rem;
}

.searchBar input::placeholder {
  color: var(--text-secondary);
}

.right {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.iconButton {
  width: 42px;
  height: 42px;

  border: none;

  border-radius: 50%;

  background: var(--hover-background);

  color: white;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: var(--transition);
}

.iconButton:hover {
  transform: scale(1.05);
  background: rgba(255,255,255,.12);
}

.profileButton {
  width: 42px;
  height: 42px;

  border: none;

  border-radius: 50%;

  background: var(--spotify-green);

  color: black;

  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: var(--transition);
}

.profileButton:hover {
  transform: scale(1.1);
}